<!DOCTYPE html>
<html>
<head lang="en">
    {% load static %}
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    {% endblock %}
</head>
<body>
    {% block header %}
    <div id="header" class="container">
    <a href="{% url 'index' %}">
        <img class="login-img" src="{% static 'img/logo1.png' %}" alt=""/></a>
        <ul>
            <li><a href="{% url 'register' %}">卖车</a></li>
            <li><a href="{% url 'buylist' %}">买车</a></li>
            <li><a href="{% url 'service' %}">服务保障</a></li>
            <li><a href="{% url 'userinfo' %}">个人中心</a></li>
        </ul>
        <p>

            {% if request.user.username %}
                欢迎您:{{ request.user.username }}&nbsp;&nbsp;
                <a href="{% url 'logout' %}">退出</a>
            {% else %}
                <a class="login" href="{% url 'login' %}">
                <img src="{% static 'img/user.png' %}"/>登录
                </a>
            {% endif %}
            <b>
                <img src="{% static 'img/phone.png' %}"/>
                400-400-400
            </b>
        </p>
    </div>
    {% endblock %}
    <div id="main">
        {% block sub-banner  %}
        <div class="sub-banner">
            <ul class="sub-img">
                <li><a href=""><img src="{% static 'img/banner/001.jpg' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'img/banner/002.jpg' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'img/banner/003.jpg' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'img/banner/004.jpg' %}" alt=""></a></li>
                <li><a href=""><img src="{% static 'img/banner/001.jpg' %}" alt=""></a></li>
            </ul>
            <ul class="sub-case">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
        {% endblock %}
        {% block container %}
        <div class="f1 container">
            {% block buy %}
            <div class="f1-left">
                <b><a href="">我要买车</a></b>
                <ul>
                    {% for car in carlist.brandlist %}
                    <a href="{% url 'brandlist' %}?brand={{ car.btitle }}" onclick="geturl()">
                    <li>
                        <img src="{% static 'img/car.png' %}" alt=""/>{{ car.btitle }}
                    </li>
                    </a>
                    {% endfor %}
                    <a href="{% url 'price0_10' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>0-10W
                    </li>
                    </a>
                    <a href="{% url 'price10_30' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>10W-30W
                    </li>
                    </a>
                    <a href="{% url 'price30_80' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>30W-80W
                    </li>
                    </a>
                    <a href="{% url 'price80_' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>80W+
                    </li>
                    </a>
                </ul>
            </div>
            {% endblock %}
            <div class="f1-right">
                <b><a href="">我要卖车</a></b>
                <div>
                    手机号：<input type="text" name='phone' id='phone' placeholder="请输入手机号"/>{{ request.message }}
                    <br/>
                    <p>
                        <a href="{% url 'protection' %}">
                        <input type="checkbox" checked name="checked"/>我已阅读协议</a>
                        <a href="{% url 'register' %}" id="regist" class="btn-login">我要卖车并注册</a>
                    </p>
                </div>
            </div>
        </div>
        {% block car-list%}
        <div class="f2 container">
            <p>
                <a href=""><b>热卖车型</b></a>
            </p>
            <div>
                {% for car in carlist.car_five %}
                <div>
                    <img src="{{ car.picture.url }}" alt=""/>
                    <p>
                        <span>{{ car.serbran }}&nbsp;&nbsp;&nbsp;&nbsp;{{ car.ctitle }}<i>{{ car.mileage }}</i>公里/万</span><br/>
                        <em><span>{{ car.extractprice }}</span>万元</em>
                        <s>新车指导价：{{ car.newprice }}万</s>
                        <a href="{{ car.get_absolute_url }}">查看</a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
        <div class="f3 container">
            <div class="f3-1">
                <img src="{% static 'img/1-1-t.jpg' %}"/>
            </div>
            <div class="f3-2">
                <img src="{% static 'img/1-3-t.jpg' %}"/>
                <b>里程</b>
            </div>
            <div class="f3-3">
                <img src="{% static 'img/5a6eadef7fa2a.jpg' %}"/>
                <b>视野</b>
            </div>
            <div class="f3-4">
                <img src="{% static 'img/5a6eae33d64d0.jpg' %}"/>
                <b>舒适</b>
            </div>
            <div class="f3-5">
                <img src="{% static 'img/5a6eae133db71.jpg' %}"/>
            </div>
        </div>
    </div>
    {% endblock %}
{% block footer %}
    <div id="footer" class="container">
        <hr/>
        <div class="footer-login">
            <a href="{% url 'index' %}">
            <img src="{% static 'img/logo1.png' %}"/>
                </a>
        </div>
        <div class="footer-ul">
            <ul>
                <li><b><a href="{% url 'service' %}">关于易车网</a></b></li>
                <li><hr/></li>
                <li><a>帮助中心</a></li>
                <li><a>诚聘英才</a></li>
                <li><a>法律声明</a></li>
            </ul>
            <ul>
                <li><b><a href="{% url 'buylist' %}">买家中心</a></b></li>
                <li><hr/></li>
                <li><a>在线答疑</a></li>
                <li><a>服务保障</a></li>
                <li><a>法律声明</a></li>
            </ul>
            <ul>
                <li><b><a href="{% url 'register' %}">卖家中心</a></b></li>
                <li><hr/></li>
                <li><a>在线咨询</a></li>
                <li><a>商品报名</a></li>
                <li><a>商家规则</a></li>
                <li><a>规则通知</a></li>
            </ul>
            <ul>
                <li><b><a href="{% url 'service' %}">有话要说</a></b></li>
                <li><hr/></li>
                <li><a>客服热线</a></li>
                <li><a>廉正举报</a></li>
                <li><a>我要投诉</a></li>
            </ul>
        </div>
        <div class="footer-img">
            <img src="{% static 'img/android.png' %}" />
            <br/>
            <img src="{% static 'img/ios.png' %}" />
        </div>
        <div class="footer-footer">
            <span> 2018 达内时代科技集团有限公司 版权所有</span>
            <br/>
            <span>
                友情链接：
                <a>达内时代科技</a>
                <a>PYTHON</a>
                <a>WEB前端</a>
                <a>U3D</a>
                <a>JAVA</a>
                <a>C++</a>
                <a>Android</a>
                <a>IOS</a>
                <a>UED设计</a>
                <a>UID设计</a>
                <a>大数据</a>
                <a>Linux云计算</a>
                <a>网络运维</a>
            </span>
        </div>
    </div>
{% endblock %}
    {% block js %}
    <script src="{% static 'js/jquery-3.2.0.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    {% endblock %}
    <script>
        $('#regist').click(function () {
            var phone = $("#phone").val();
            $.cookie('phone_cookie',phone, {
                {#expires: 7,#}
                path: '/',
                domain: '',
                secure: false
            })
        })
    </script>
    <script>
        function geturl() {
            var aa = a.attr("href");
            console.log(aa);
        }
    </script>
</body>
</html>