{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/header.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/footer.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% endblock %}
</head>
<body>
{% block container %}
    {% block buy %}
        <div class="container">
        <div class="f1-left">
            <b><a href="">我要买车</a></b>
                <ul>
                    {% for car in carlist.brandlist %}
                    <a href="{% url 'brandlist' %}?brand={{ car.btitle }}">
                    <li>
                        <img src="{% static 'img/car.png' %}" alt=""/>{{ car.btitle }}
                    </li>
                    </a>
                    {% endfor %}
                    <a href="{% url 'price0_10' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>0-10W
                    </li>
                    </a>
                    <a href="{% url 'price10_30' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>10W-30W
                    </li>
                    </a>
                    <a href="{% url 'price30_80' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>30W-80W
                    </li>
                    </a>
                    <a href="{% url 'price80_' %}?brand={{ carlist.brand }}">
                    <li>
                        <img src="{% static 'img/anquan.png' %}" alt=""/>80W+
                    </li>
                    </a>
                </ul>
            </div>
        </div>
    {% endblock%}
    {% block car-list %}
        <div class="f2 container">
            <p>
                <a href=""><b>热卖</b></a>
            </p>
            <div>
                {% for car in carlist.carlist %}
                    <div>
                        <img src="{{ car.picture.url }}" alt="">
                        <p>
                            <span>{{ car.serbran }}&nbsp;&nbsp;{{ car.ctitle }}<i>{{ car.mileage }}公里/万</i></span><br>
                            <em><span>{{ car.extractprice }}</span>万元</em>
                            <s>新车指导价：{{ car.newprice }}万</s>
                            <a href="{{ car.get_absolute_url }}">查看</a>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endblock %}


</body>
</html>