#login {
  position: relative;
}
#login img {
  width: 100%;
  opacity: 0.6;
  z-index: -1;
}
#login form {
  color: #fff;
  width: 400px;
  height: 300px;
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 30%;
  right: 20%;
  border-radius: 10px;
  padding: 20px;
}
#login form p {
  padding: 20px 20px;
}
#login form p b.prompt {
  color: red;
  display: none;
}
#login form p input {
  width: 65%;
  float: right;
  height: 25px;
  margin-right: 30px;
}
#login form p .button-login {
  margin-right: 60px;
}
#login form p button {
  padding: 10px;
  color: #fff;
  border: 1px dashed #fff;
  position: absolute;
  right: 70px;
  background: inherit;
}
